.seccion-1 {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

/* Vista móvil */
@media (max-width: 768px) {
    .seccion-1 {
        display: flex;
        flex-direction: column;
    }
}
